n8n-workflows/lead-hunter-test-ai.json
{
  "name": "Lead Hunter - Test AI Extraction",
  "nodes": [
    {
      "parameters": {},
      "name": "Manual Trigger",
      "type": "n8n-nodes-base.manualTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Click to test workflow"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Looking for 2BR condo in Jomtien for sale, budget 5-7 million baht. Must have sea view and pool. Contact: Sarah Johnson, sarah.j@email.com, 081-555-1234"
            },
            {
              "name": "url",
              "value": "https://facebook.com/groups/test"
            }
          ]
        },
        "options": {}
      },
      "name": "Test Data - Post 1",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 200],
      "notes": "Sample Facebook post for testing"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "สนใจคอนโดให้เช่าที่พัทยา 2 ห้องนอน งบ 20,000-30,000 บาท/เดือน ติดต่อ: 089-123-4567"
            },
            {
              "name": "url",
              "value": "https://facebook.com/groups/test"
            }
          ]
        },
        "options": {}
      },
      "name": "Test Data - Post 2 (Thai)",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 300],
      "notes": "Thai language test"
    },
    {
      "parameters": {
        "values": {
          "string": [
            {
              "name": "text",
              "value": "Need house in Pattaya, 3-4 bedrooms, 10-15M budget. Call John 081-999-8888 or email john.buyer@gmail.com"
            },
            {
              "name": "url",
              "value": "https://facebook.com/groups/test"
            }
          ]
        },
        "options": {}
      },
      "name": "Test Data - Post 3",
      "type": "n8n-nodes-base.set",
      "typeVersion": 1,
      "position": [450, 400],
      "notes": "House inquiry test"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "options": {
          "temperature": 0.3
        },
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a real estate lead extraction AI for Thailand properties. Extract structured data from Facebook posts.\n\nExtract:\n1. Name (if mentioned)\n2. Email (if mentioned)\n3. Phone (Thai format: +66 or 0)\n4. Budget in THB (convert millions)\n5. Category: CONDO, HOUSE, LAND, or INVESTMENT\n6. Bedrooms (if mentioned)\n7. Area: Pattaya, Jomtien, Naklua, etc.\n8. Type: SALE or RENT\n\nFor budget:\n- \"5 million\" = 5000000\n- \"5M\" = 5000000\n- \"5-8 million\" = budgetMin: 5000000, budgetMax: 8000000\n- \"20k/month\" or \"20,000 บาท/เดือน\" = 20000 (for rent)\n\nFor Thai text:\n- \"สนใจ\" = interested\n- \"ให้เช่า\" = for rent\n- \"ขาย\" = for sale\n- \"คอนโด\" = condo\n- \"บ้าน\" = house\n- \"ห้องนอน\" = bedroom\n- \"งบ\" or \"ราคา\" = budget/price\n\nOutput ONLY valid JSON:\n{\n  \"name\": \"string or null\",\n  \"email\": \"string or null\",\n  \"phone\": \"string or null\",\n  \"budgetMin\": number or null,\n  \"budgetMax\": number or null,\n  \"category\": \"CONDO|HOUSE|LAND|INVESTMENT or null\",\n  \"bedrooms\": number or null,\n  \"area\": \"string or null\",\n  \"listingType\": \"SALE|RENT or null\",\n  \"confidence\": 0.0-1.0\n}"
            },
            {
              "role": "user",
              "content": "Extract lead data from this Facebook post:\n\n={{$json.text}}"
            }
          ]
        }
      },
      "name": "OpenAI - Extract Lead Data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [650, 300],
      "credentials": {
        "openAiApi": {
          "id": "YOUR_OPENAI_CREDENTIAL_ID",
          "name": "OpenAI API"
        }
      },
      "notes": "AI extracts structured data"
    },
    {
      "parameters": {
        "functionCode": "// Parse AI response\nconst aiResponse = $input.item.json.choices[0].message.content;\nconst lead = JSON.parse(aiResponse);\n\n// Format phone number\nif (lead.phone) {\n  lead.phone = lead.phone.replace(/[^0-9+]/g, '');\n  if (lead.phone.startsWith('0')) {\n    lead.phone = '+66' + lead.phone.substring(1);\n  }\n}\n\n// Add metadata\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    source: $('Manual Trigger').item.json.url || 'Test',\n    originalPost: $input.first().json.text,\n    ...lead,\n    status: 'NEW'\n  }\n};"
      },
      "name": "Parse & Format",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [850, 300],
      "notes": "Parse JSON and format data"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappings": [
            {"column": "Timestamp", "value": "={{$json.timestamp}}"},
            {"column": "Source", "value": "={{$json.source}}"},
            {"column": "Original Post", "value": "={{$json.originalPost}}"},
            {"column": "Name", "value": "={{$json.name}}"},
            {"column": "Email", "value": "={{$json.email}}"},
            {"column": "Phone", "value": "={{$json.phone}}"},
            {"column": "Budget Min", "value": "={{$json.budgetMin}}"},
            {"column": "Budget Max", "value": "={{$json.budgetMax}}"},
            {"column": "Category", "value": "={{$json.category}}"},
            {"column": "Bedrooms", "value": "={{$json.bedrooms}}"},
            {"column": "Area", "value": "={{$json.area}}"},
            {"column": "Listing Type", "value": "={{$json.listingType}}"},
            {"column": "Confidence", "value": "={{$json.confidence}}"},
            {"column": "Status", "value": "NEW"}
          ]
        },
        "options": {}
      },
      "name": "Google Sheets - Store Result",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1050, 300],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "YOUR_GOOGLE_SHEETS_CREDENTIAL_ID",
          "name": "Google Sheets"
        }
      },
      "notes": "Store in your private sheet"
    }
  ],
  "connections": {
    "Manual Trigger": {
      "main": [
        [
          {"node": "Test Data - Post 1", "type": "main", "index": 0},
          {"node": "Test Data - Post 2 (Thai)", "type": "main", "index": 0},
          {"node": "Test Data - Post 3", "type": "main", "index": 0}
        ]
      ]
    },
    "Test Data - Post 1": {
      "main": [[{"node": "OpenAI - Extract Lead Data", "type": "main", "index": 0}]]
    },
    "Test Data - Post 2 (Thai)": {
      "main": [[{"node": "OpenAI - Extract Lead Data", "type": "main", "index": 0}]]
    },
    "Test Data - Post 3": {
      "main": [[{"node": "OpenAI - Extract Lead Data", "type": "main", "index": 0}]]
    },
    "OpenAI - Extract Lead Data": {
      "main": [[{"node": "Parse & Format", "type": "main", "index": 0}]]
    },
    "Parse & Format": {
      "main": [[{"node": "Google Sheets - Store Result", "type": "main", "index": 0}]]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
