n8n-workflows/lead-hunter-private.json
{
  "name": "Lead Hunter - Private (Google Sheet Only)",
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "cronExpression",
              "expression": "0 */2 9-21 * * *"
            }
          ]
        }
      },
      "name": "Schedule Every 2 Hours",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1,
      "position": [250, 300],
      "notes": "Runs every 2 hours from 9 AM to 9 PM"
    },
    {
      "parameters": {
        "actorId": "apify/facebook-groups-scraper",
        "waitForFinish": true,
        "options": {
          "build": "latest"
        }
      },
      "name": "Apify - Facebook Scraper",
      "type": "n8n-nodes-base.apify",
      "typeVersion": 1,
      "position": [450, 300],
      "credentials": {
        "apifyApi": {
          "id": "1",
          "name": "Apify API"
        }
      },
      "notes": "Scrapes Facebook groups for property inquiries"
    },
    {
      "parameters": {
        "conditions": {
          "string": [
            {
              "value1": "={{$json.text}}",
              "operation": "contains",
              "value2": "@"
            }
          ],
          "number": [
            {
              "value1": "={{$json.text.match(/\\d{9,10}/) ? 1 : 0}}",
              "operation": "equal",
              "value2": 1
            }
          ]
        },
        "combineOperation": "any"
      },
      "name": "Filter - Has Contact Info",
      "type": "n8n-nodes-base.if",
      "typeVersion": 1,
      "position": [650, 300],
      "notes": "Only process posts with email or phone number"
    },
    {
      "parameters": {
        "model": "gpt-4-turbo-preview",
        "messages": {
          "values": [
            {
              "role": "system",
              "content": "You are a real estate lead extraction AI for Thailand properties. Extract structured data from Facebook posts.\n\nExtract:\n1. Name (if mentioned)\n2. Email (if mentioned)\n3. Phone (Thai format: +66 or 0)\n4. Budget in THB (convert millions)\n5. Category: CONDO, HOUSE, LAND, or INVESTMENT\n6. Bedrooms (if mentioned)\n7. Area: Pattaya, Jomtien, Naklua, etc.\n8. Type: SALE or RENT\n\nFor budget:\n- \"5 million\" = 5000000\n- \"5M\" = 5000000\n- \"5-8 million\" = budgetMin: 5000000, budgetMax: 8000000\n- \"20k/month\" = 20000 (for rent)\n\nOutput ONLY valid JSON:\n{\n  \"name\": \"string or null\",\n  \"email\": \"string or null\",\n  \"phone\": \"string or null\",\n  \"budgetMin\": number or null,\n  \"budgetMax\": number or null,\n  \"category\": \"CONDO|HOUSE|LAND|INVESTMENT or null\",\n  \"bedrooms\": number or null,\n  \"area\": \"string or null\",\n  \"listingType\": \"SALE|RENT or null\",\n  \"confidence\": 0.0-1.0\n}"
            },
            {
              "role": "user",
              "content": "Extract lead data from this Facebook post:\n\n={{$json.text}}"
            }
          ]
        },
        "options": {
          "temperature": 0.3
        }
      },
      "name": "OpenAI - Extract Lead Data",
      "type": "@n8n/n8n-nodes-langchain.openAi",
      "typeVersion": 1,
      "position": [850, 200],
      "credentials": {
        "openAiApi": {
          "id": "2",
          "name": "OpenAI API"
        }
      },
      "notes": "AI extracts structured data from post"
    },
    {
      "parameters": {
        "functionCode": "const aiResponse = $input.item.json.choices[0].message.content;\nconst lead = JSON.parse(aiResponse);\n\n// Quality filters\nif (lead.confidence < 0.6) {\n  return null; // Skip low confidence\n}\n\nif (!lead.phone && !lead.email) {\n  return null; // Must have contact\n}\n\n// Format phone number\nif (lead.phone) {\n  lead.phone = lead.phone.replace(/[^0-9+]/g, '');\n  if (lead.phone.startsWith('0')) {\n    lead.phone = '+66' + lead.phone.substring(1);\n  }\n}\n\n// Add metadata\nreturn {\n  json: {\n    timestamp: new Date().toISOString(),\n    source: $('Apify - Facebook Scraper').item.json.url || 'Facebook',\n    originalPost: $('Apify - Facebook Scraper').item.json.text,\n    ...lead,\n    status: 'NEW'\n  }\n};"
      },
      "name": "Parse & Validate Lead",
      "type": "n8n-nodes-base.function",
      "typeVersion": 1,
      "position": [1050, 200],
      "notes": "Parse JSON and validate quality"
    },
    {
      "parameters": {
        "operation": "append",
        "documentId": {
          "__rl": true,
          "value": "YOUR_SHEET_ID_HERE",
          "mode": "id"
        },
        "sheetName": {
          "__rl": true,
          "value": "Sheet1",
          "mode": "name"
        },
        "columns": {
          "mappings": [
            {
              "column": "Timestamp",
              "value": "={{$json.timestamp}}"
            },
            {
              "column": "Source",
              "value": "={{$json.source}}"
            },
            {
              "column": "Original Post",
              "value": "={{$json.originalPost}}"
            },
            {
              "column": "Name",
              "value": "={{$json.name}}"
            },
            {
              "column": "Email",
              "value": "={{$json.email}}"
            },
            {
              "column": "Phone",
              "value": "={{$json.phone}}"
            },
            {
              "column": "Budget Min",
              "value": "={{$json.budgetMin}}"
            },
            {
              "column": "Budget Max",
              "value": "={{$json.budgetMax}}"
            },
            {
              "column": "Category",
              "value": "={{$json.category}}"
            },
            {
              "column": "Bedrooms",
              "value": "={{$json.bedrooms}}"
            },
            {
              "column": "Area",
              "value": "={{$json.area}}"
            },
            {
              "column": "Listing Type",
              "value": "={{$json.listingType}}"
            },
            {
              "column": "Confidence",
              "value": "={{$json.confidence}}"
            },
            {
              "column": "Status",
              "value": "NEW"
            },
            {
              "column": "Notes",
              "value": ""
            }
          ]
        },
        "options": {}
      },
      "name": "Google Sheets - Store Lead (PRIVATE)",
      "type": "n8n-nodes-base.googleSheets",
      "typeVersion": 4,
      "position": [1250, 200],
      "credentials": {
        "googleSheetsOAuth2Api": {
          "id": "3",
          "name": "Google Sheets"
        }
      },
      "notes": "Stores in YOUR private sheet only"
    },
    {
      "parameters": {
        "fromEmail": "noreply@estateascent.com",
        "toEmail": "YOUR_EMAIL@example.com",
        "subject": "🎯 New Lead Captured - {{$json.name || 'Unknown'}}",
        "emailType": "html",
        "message": "<h2>New Lead from Facebook</h2>\n<p><strong>Time:</strong> {{$json.timestamp}}</p>\n<p><strong>Name:</strong> {{$json.name || 'Not provided'}}</p>\n<p><strong>Email:</strong> {{$json.email || 'Not provided'}}</p>\n<p><strong>Phone:</strong> {{$json.phone || 'Not provided'}}</p>\n<p><strong>Budget:</strong> ฿{{$json.budgetMin?.toLocaleString()}} - ฿{{$json.budgetMax?.toLocaleString()}}</p>\n<p><strong>Looking for:</strong> {{$json.category}} in {{$json.area}}</p>\n<p><strong>Type:</strong> {{$json.listingType}}</p>\n<p><strong>Bedrooms:</strong> {{$json.bedrooms || 'Not specified'}}</p>\n<hr>\n<p><strong>Original Post:</strong></p>\n<p>{{$json.originalPost}}</p>\n<hr>\n<p><strong>Source:</strong> {{$json.source}}</p>\n<p><strong>Confidence:</strong> {{Math.round($json.confidence * 100)}}%</p>\n<p><a href=\"https://docs.google.com/spreadsheets/d/YOUR_SHEET_ID\">View in Google Sheets</a></p>",
        "options": {}
      },
      "name": "Email - Notify You Only",
      "type": "n8n-nodes-base.emailSend",
      "typeVersion": 2,
      "position": [1450, 200],
      "credentials": {
        "smtp": {
          "id": "4",
          "name": "SMTP"
        }
      },
      "notes": "Optional: Email notification to you only"
    }
  ],
  "connections": {
    "Schedule Every 2 Hours": {
      "main": [
        [
          {
            "node": "Apify - Facebook Scraper",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Apify - Facebook Scraper": {
      "main": [
        [
          {
            "node": "Filter - Has Contact Info",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Filter - Has Contact Info": {
      "main": [
        [
          {
            "node": "OpenAI - Extract Lead Data",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "OpenAI - Extract Lead Data": {
      "main": [
        [
          {
            "node": "Parse & Validate Lead",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse & Validate Lead": {
      "main": [
        [
          {
            "node": "Google Sheets - Store Lead (PRIVATE)",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Google Sheets - Store Lead (PRIVATE)": {
      "main": [
        [
          {
            "node": "Email - Notify You Only",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1"
  }
}
